body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(2, 6, 10, 0.64);
}

header {
  height: 500px;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  color: gray;
}

nav {
  padding: 40px 10px;
}

div:nth-of-type(1) {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 35px;
  background-color: vec3(0.16, 0.18, 0.18);
}

h1, ul {
  margin: 0;
  display: inline-block;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1 span {
  color: rgb(12, 190, 169);
}

img {
  float: left;
  width: auto;
  height: 55px;
}

ul {
  float: right;
}

ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
}

ul li:hover,
.hero {
  color: rgb(12, 190, 169);
  border-bottom: solid white;
  cursor: pointer;
}

h2 {
  color: white;
  position: absolute;
  top: 25%;
  left: calc(50% - calc(300px / 2));
  border-bottom: solid rgb(12, 190, 169);
  text-align: center;
  padding: 20px 0;
}

.eevee {
  position: absolute;
  top: calc(55% - calc(70px / 2));
  left: calc(50% - calc(600px / 2));
  width: 600px;
  text-align: center;
}

div:nth-of-type(3) {
  position: absolute;
  top: calc(70% - calc(40px / 2));
  left: calc(50% - calc(1100px / 2));
}

.pic {
  width: 1100px;
  height: auto;
}
