@import 'https://fonts.googleapis.com/css?family=Raleway:300';

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url(../img/banner.jpg);
  padding: 10px;
  color: white;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 0 15px;
  color: hsl(0, 0%, 90%);
}

nav h1:hover {
  cursor: pointer;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
}

header div.header {
  text-align: center;
  margin-top: 150px;
}

header div.header h2 {
  font-size: 40px;
}

header div.header h3 {
  font-size: 20px;
}

header div.header input[type="submit"] {
  font-size: 23px;
  padding: 15px 25px;
  margin-bottom: 150px;
  background-color: transparent;
  color: white;
  border-style: none;
  border: 1px white solid;
  border-radius: 5px;
}

header div.header input[type="submit"]:hover {
  background-color: hsla(0, 0%, 81%, 0.31);
  cursor: pointer;
}

section.info {
  text-align: center;
  background-color: hsl(153, 55%, 50%);
  color: white;
}

section.info h3 {
  margin: 0;
  padding-top: 70px;
}

section.info div.section {
  display: flex;
}

section.info div.section div i{
  border: 1px white solid;
  border-radius: 50%;
  padding: 30px;
  font-size: 50px;
}

section.info div.section div p {
  padding: 15px 35px;
}

article {
  color: hsl(0, 0%, 50%);
  width: 100%;
  text-align: center;
}

article h3, article h4 {
  text-align: center;
}

article h3 {
  font-size: 30px;
}

article h4 {
  font-size: 20px;
}

/*article hr {
  border: 10px lightgray;
  border-width: thick;
}*/

article div.extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article div.extra div {
  width: 50%;
}

article div.extra img {
  border-radius: 5px;
  width: 80%;
}

article div.extra div h4 {
  border-bottom-style: double;
  border-bottom-color: lightgray;
  border-bottom-width: 2px;

}

article input[type="button"] {
  font-size: 23px;
  padding: 15px 40px;
  margin-bottom: 60px;
  background-color: transparent;
  color: gray;
  border-style: none;
  border: 2px lightgray solid;
  border-radius: 5px;
}

article input[type="button"]:hover {
  background-color: hsla(0, 2%, 72%, 0.22);
  cursor: pointer;
}

footer {
  background-color: rgb(31, 31, 31);
  color: hsl(90, 0%, 55%);
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

footer div.parent {
  display: flex;

}

footer div.parent h4 {
  color: white;
}

footer div.parent div{
  flex: 1;
}

footer div.parent div a {
  color: hsl(90, 0%, 55%);
}

footer div.parent div ul {
  padding: 15px 0;
  margin: 0;
}

footer div.parent aside {
  width: 300px;
}

footer div.parent div ul li, footer div.parent aside p {
  list-style: none;
  border-bottom: 1px solid;
  padding: 10px 0;
  width: 270px;
}

footer div.parent aside i {
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

footer div.parent aside i:hover {
  color: white;
  cursor: pointer;
}

footer aside {
  width: 33%
}
