@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: 'Roboto Slab'; }

ul {
  list-style: none;
  padding: 0; }

p {
  color: #84909c;
  font-size: 11px; }

a {
  text-decoration: none; }

h1, h2, h3, h4 {
  color: #3D4449;
  font-weight: 700; }

.btn {
  color: #6CC5AF;
  border: 1.5px solid #6CC5AF;
  padding: 5px 20px;
  margin: 20px 0;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase; }

.btn:hover {
  background-color: rgba(108, 197, 175, 0.03); }

.btn-large {
  padding: 15px 35px;
  font-size: 100%;
  font-weight: 700;
  letter-spacing: .5px; }

.fa {
  color: #6CC5AF;
  font-size: 20px;
  margin: 5px; }

.open {
  left: 0px; }

.sno {
  display: none; }

i.fa-bars {
  position: absolute;
  right: -54px;
  top: 25px;
  font-size: 25px;
  cursor: pointer; }

#close {
  display: none; }

.img {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  height: 157px; }

h3 + hr {
  border: 1.5px solid #6CC5AF;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  position: absolute; }

div.container {
  background-color: #F5F6F7; }
  div.container footer hr {
    width: 110px; }

nav {
  position: absolute;
  left: -300px;
  width: 300px;
  margin-right: 10px;
  transition: left 400ms ease-in-out; }
  nav > div {
    background-color: #e7e9ec;
    padding: 20px; }
    nav > div input {
      margin: 5px 0;
      width: 90%;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid #a0aab3; }
  nav h3 {
    margin: 20px 0; }
  nav h3 + hr:nth-of-type(1) {
    width: 60px; }
  nav h3 + hr:nth-of-type(2) {
    width: 120px; }
  nav ul li {
    border-bottom: 1px solid #cbd0d5; }
  nav ul:nth-of-type(1) li a {
    display: block;
    color: #3D4449;
    transition: color 200ms ease-in-out;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 1px; }
  nav ul:nth-of-type(1) li a:hover {
    color: #6CC5AF; }
  nav ul:nth-of-type(2) a:last-of-type {
    height: auto; }
  nav ul:nth-of-type(2) li {
    margin: 20px 0; }
  nav img {
    width: 100%;
    border-radius: 10px;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
  nav img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  nav footer div {
    border-bottom: 1px dotted #aeb6be;
    padding: 10px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  nav footer div:last-of-type {
    margin-bottom: 40px; }
  nav footer div a {
    color: #84909c;
    font-size: 12px;
    border-bottom: 1px dotted #84909c; }
  nav footer div a:hover {
    color: #6CC5AF; }

.small {
  width: calc(90vw - 300px); }

body > div {
  width: 90vw;
  float: right;
  margin: 20px 60px 0 0;
  transition: width 400ms ease-in-out; }
  body > div header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 4px solid #6CC5AF;
    margin: 50px 0;
    padding-bottom: 15px; }
    body > div header i.fa {
      color: #84909c;
      transition: all 250ms ease-in-out;
      cursor: pointer; }
    body > div header i.fa:hover {
      color: #6CC5AF; }
    body > div header h1 {
      font-size: 16px;
      transition: all 250ms ease-in-out; }
      body > div header h1 span {
        color: #84909c;
        font-weight: 400;
        transition: all 250ms ease-in-out; }
    body > div header h1:hover, body > div header span:hover {
      color: #6CC5AF; }
  body > div main, body > div section {
    border-bottom: 2px solid #e7e9ec; }
  body > div main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 70px; }
    body > div main div:first-of-type {
      width: 40%; }
      body > div main div:first-of-type h2 {
        font-size: 300%;
        margin: 10px 0; }
      body > div main div:first-of-type p:first-of-type {
        text-transform: uppercase;
        font-size: 100%;
        letter-spacing: 1px; }
      body > div main div:first-of-type p:last-of-type {
        font-size: 90%;
        letter-spacing: .5px; }
    body > div main div:last-of-type {
      width: 50%; }
      body > div main div:last-of-type img {
        border-radius: 5px;
        width: 100%;
        height: auto; }
  body > div section:first-of-type {
    padding: 70px 0; }
    body > div section:first-of-type h3 {
      font-size: 30px; }
    body > div section:first-of-type h3 + hr {
      width: 180px; }
    body > div section:first-of-type div.container2 {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      body > div section:first-of-type div.container2 > div {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 45%;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        body > div section:first-of-type div.container2 > div i.fa {
          font-size: 45px;
          position: relative; }
        body > div section:first-of-type div.container2 > div i::after {
          border: 2px solid #e7e9ec;
          border-radius: 5px;
          content: "";
          padding: 45px;
          position: absolute;
          -webkit-transform: rotateZ(45deg);
          -ms-transform: rotate(45deg);
          transform: rotateZ(45deg); }
        body > div section:first-of-type div.container2 > div i.fa-diamond::after {
          left: -43%;
          bottom: -59%; }
        body > div section:first-of-type div.container2 > div i.fa-paper-plane::after {
          left: -47%;
          bottom: -59%; }
        body > div section:first-of-type div.container2 > div i.fa-rocket::after {
          left: -50%;
          bottom: -59%; }
        body > div section:first-of-type div.container2 > div i.fa-signal::after {
          left: -53%;
          bottom: -59%; }
        body > div section:first-of-type div.container2 > div div {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-left: 80px; }
          body > div section:first-of-type div.container2 > div div h4 {
            font-size: 120%; }
          body > div section:first-of-type div.container2 > div div p {
            font-size: 90%; }

section:last-of-type > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  section:last-of-type > div div:nth-of-type(odd) {
    border-right: 1.5px solid #e7e9ec;
    padding-right: 3%; }
  section:last-of-type > div div:nth-of-type(even) {
    padding-left: 2.8%; }
  section:last-of-type > div div {
    width: 47%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1.5px solid #e7e9ec;
    padding-top: 20px; }
    section:last-of-type > div div .btn {
      font-weight: 700;
      padding: 10px 25px; }
    section:last-of-type > div div .img {
      height: 63%;
      width: 100%; }
    section:last-of-type > div div img {
      width: 100%;
      transition: -webkit-transform 200ms ease-in-out;
      transition: transform 200ms ease-in-out;
      transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }
    section:last-of-type > div div img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

body > div:after {
  content: "";
  display: block;
  clear: both; }
