@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../img/home-slider-1-slide-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  background-image: url(../img/logo-229x39.png);
  background-repeat: no-repeat;
}

nav h1 a {
  width: 229px;
  height: 39px;
  display: block;
  color: transparent;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 125%;
}

/*NAV*/
/*Beginning of nav drop down lesson*/

nav ul ul {
  width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: hsla(0, 0%, 0%, .8);
  font-size: 100%;
}

nav ul ul a {
  display: block;
  padding: 20px 0px;
  text-align: center;
}

nav ul ul li {
  flex-direction: column;
}

nav > ul > li {
  position: relative;
}

nav > ul > li:hover ul {
  display: block;
}

nav > ul  > li::after {
  content: '/';
  display: inline-block;
  margin: 0 10px;
}

nav > ul > li:last-child::after {
  content: none;
}

/*End of nav drop down lesson*/

nav li a {
  text-decoration: none;
  color: inherit;
}

/*CAR TITLE*/

header h2 {
  margin: auto;
  font-size: 17vw;
}

/*SECTION GALLERY*/

#gallery {
  display: flex;
  flex-wrap: wrap;
}

#gallery > div {
  width: calc(100% / 4);
  height: 28vw;
  overflow: hidden;
  position: relative;
}

#gallery small {
  position: relative;
  z-index: 1;
  color: white;
  margin: 10px;
}

#gallery > div > img {
  width: 100%;
  transform: scale(1.25);
}

#gallery > div:hover div {
  border-radius: 0%;
  transform: scale(1);
  opacity: 1;
}

#gallery div div {
  transition: all 500ms ease-in-out;
  border-radius: 100%;
  transform: scale(.75);
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsla(198, 100%, 58%, 0.7);
}

#news {
  margin: 0 80px;
}

#news h2 {
  font-size: 90px;
  margin-bottom: 0;
}

hr {
  margin: 0;
}

#news hr:nth-of-type(1) {
  border: 6px skyblue solid;
  margin-bottom: 0;
  width: 15%;
}

#news hr:nth-of-type(2) {
  border: 1px lightgray solid;
  margin-top: 0;
  margin-bottom: 85px;
}

#news > div {
  display: flex;
  justify-content: space-around;
}

#news > div div {
  width: calc(100% / 4);
}

#news > div div img {
  width: auto;
  height: 450px
}

#news > div div p {
  width: 80%;
  font-size: 25px;
  color: gray;
}

#news > div div h4 {
  font-size: 30px;
}

#news > div div a {
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  color: skyblue;
}

#news > div div a::after {
  content: ' >';
}

#news > div div a:hover {
  color: rgb(59, 59, 59)
}

#models {
  background-image: url(../img/bg-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

#models h2 {
  font-size: 100px;
  text-align: right;
  width: 50%;
}

#models hr:nth-of-type(1) {
  border: 6px skyblue solid;
  margin-bottom: 0;
  width: 10%;
}

#models hr:nth-of-type(2) {
  border: 1px lightgray solid;
  margin-top: 0;
  margin-bottom: 85px;
}
