body {
  height: 600px;
  margin: 0 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul li {
  display: inline-block;
  padding: 0 15px;
}

ul {
  margin-left: auto;
}

main {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
  margin-top:80px;
}

textarea {

}
