@import 'https://fonts.googleapis.com/css?family=Cabin';

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

header {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 300px;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 10px;
  padding: 0 5px;
}

header nav ul li:hover, header nav h1 {
  cursor: pointer;
}

header nav ul li:nth-of-type(1) {
  border: 1px white solid;
  padding: 10px;
  border-radius: 5px;
}

header div.header {
  text-align: center;
  color: white;
}

header div.header h2 {
  padding-top: 100px;
  font-size: 30px;
  margin-bottom: 0;
}

header div.header p {
  margin-top: 0;
  color: hsl(47, 14%, 73%);
}

header div.header input[type="submit"] {
  border-style: none;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 5px;
  padding: 15px 25px;
  color: white;
  margin-top: 50px;
  margin-bottom: 80px;
}

header div.header input[type="submit"]:hover {
  cursor: pointer;
}

section.info {
  text-align: center;
  color: hsl(45, 3%, 55%);
}

section.info h3 {
  color: black;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 25px;

}

section.info img {
  width: 650px;
  height: auto;
  margin-top: 50px;
}

section.info > p {
  margin-top: 0;
  font-size: 12px;
}

section.info div.extra {
  display: flex;
  padding-top: 5px;
  margin: 0 300px;
  margin-bottom: 55px;
}

section.info div.extra p{
  font-size: 10px;
}

section.info div.extra div:nth-of-type(2), div:nth-of-type(1), div:nth-of-type(3) {
  padding: 0 10px;
}

section.info div.extra input[type="button"] {
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px black solid;
  padding: 10px 20px;
  font-size: 10px;
}

section.info div.extra input[type="button"]:hover {
  cursor: pointer;
}

section.ad {
  text-align: center;
  background-color: hsl(64, 44%, 18%);
  color: hsl(43, 7%, 71%) ;
}

section.ad h3 {
  color: white;
  padding-top: 70px;
  font-size: 25px;
  margin-bottom: 0;
}

section.ad p {
  font-size: 10px;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

section.ad div {
  margin: 0 350px;
}

section.ad div a {
  color: white;
}

section.ad div input[type="button"] {
  margin-top: 5px;
  margin-bottom: 70px;
  color: white;
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  border: 1px white solid;
  padding: 10px 20px;
  font-size: 10px;
}

section.ad div input[type="button"]:hover {
  cursor: pointer;
}

footer {
  background-color: hsl(0, 0%, 7%);
  padding: 40px 300px;
  color: hsl(0, 0%, 34%)
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 8px
}
